body
{
    background-color: rgb(247, 238, 225);
    background-image: url("images/fine.jpg");
    background-size: cover;
}

#bgDiv
{
    background-color: antiquewhite;
    opacity: .9;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
}